.env
*.txt
*.csv
*.png
*.bat
*.b
*.pt
*.pkl
__pycache__

reader.py
training.py_bk
hgt.py
baseline_comparison_2.py
baseline_comparison.py
diagnose_data.py
phishcrawler

uploads/
visualization/
processed_data/
db/
saved_models/

!requirements.txt